@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tier-s-color: #fd807f;
  --tier-a-color: #ffbf7e;
  --tier-b-color: #ffff80;
  --tier-c-color: #80ff80;
  --tier-d-color: #7fffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, p, a {
  @apply text-white
}

h1 {
  @apply font-lusitana text-2xl;
}

h2 {
  @apply font-lusitana text-2xl;
}

h3 {
  @apply font-lusitana text-lg;
}

p {
  @apply font-lusitana text-base;
}
